.index{
    background-image: url("https://na.leagueoflegends.com/sites/default/files/upload/art/akali_vs_baron_3.jpg");
    background-size: cover;
}
.galariaback{
    background-image: url("https://euw.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/leagueoflegends_62_1920x1080.png?itok=rC1Jb9hv");
    background-size: cover;
}
header{
    margin-bottom: 2rem;
}
footer{
    bottom: 0;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
}
.painel{
    background-color: rgb(202, 202, 202);
    border: 2px solid black;
    box-shadow: -5px 1px 10px #000000;
}
.painel_galeria{
    background-color: rgba(202, 202, 202, 0.74);
    border: 2px solid black;
    box-shadow: -5px 1px 10px #000000;
}